<div id="piano-my-account">Piano my account</div>
<script>tp = window["tp"] || [];
tp.push(["init", function() {
    tp.myaccount.show({
        displayMode: "inline",
        containerSelector: "#piano-my-account"
    });
}]);</script>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = !false, classAppend='cmp-text'}"></sly>