<sly data-sly-use.biography="com.nswbc.commons.core.models.biography.BiographyModel">
  <div class="bc-biography" data-module="bc-biography">
            <div class="bc-biography__card ${biography.bioType == 'byline' ? 'bc-biography__card--byline' : ''}">
               <div class="bc-biography__card__img-wrapper">
                  <img src="${biography.fileReference}" alt="${biography.assetMetaDataTitle}" class="bc-biography__img" />
               </div>
               <div class="bc-biography__content">
                  <span class="bc-biography__personal-detail">
                  <span data-sly-test="${biography.bioType == 'byline'}" class="bc-biography__text-by">By</span>
                  <h4 class="bc-biography__name">${biography.authorName}</h4>
                  <svg class="icon " aria-hidden="true">
                     <use xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#dash"></use>
                  </svg>
                  <span class="bc-biography__role">${biography.authorTitle}</span>
                  </span>
                  <div data-sly-test="${biography.bioType == 'bio'}" class="bc-biography__personal-bio">
                  <p class="bc-biography__bio-text">
                  	${biography.authorDescription @ context="html"}
                     </p>
               </div>
            </div>
         </div>      
  </div>
</sly>