<div data-sly-test="${properties.subscriptionType}" data-sly-use.advocacy="com.nswbc.commons.core.models.advocacy.AdvocacyModel" 
   class="bc-advocacy ${advocacy.bgColor} ${advocacy.textColor == 'white' ? 'g-color-white' : ''} ${advocacy.alignType}" 
   data-module="bc-advocacy" 
   data-type="${advocacy.subscriptionType}"
   data-source="${advocacy.source}"
   data-topic="${advocacy.subscriptionType == 'advocacy' ? advocacy.campaignId :'All'}">
   <div class="content">
      <div class="content-text">
         <div data-sly-test="${advocacy.headingType == 'image'}" class="promo-img-wrapper">
            <img src="${advocacy.fileReference}" class="image--title" alt="${advocacy.imgAltText}">
         </div>
         <h3 data-sly-test="${advocacy.headingType == 'text'}">
            <span>
            ${advocacy.headingText}
            </span>
         </h3>
         <p data-sly-test="${advocacy.subheadingType == 'subheading'}" class="initialText">${advocacy.subheadingText}</p>
         <h4 data-sly-test="${advocacy.subheadingType == 'quote'}">
            <span>
            ${advocacy.subheadingText}
            </span>
         </h4>
         <h4 class="thankyou d-none">
            <span>
            ${advocacy.thanksText}
            </span>
         </h4>
         <div id="error-note" class="server-error"></div>
         <form id="subscribeForm">
            <div data-optin="" class="data-optin"></div>
            <div class="field">
               <label class="field__label" for="${advocacy.uniqueID}-email">${advocacy.emailfieldLabel}</label>
               <input class="field__input js-email" id="${advocacy.uniqueID}-email" name="email" type="text" value="" tabindex="0" aria-label="Email address" placeholder="Your email"/>
               <span class="field__icon" tabindex="0">
                  <svg class="icon" aria-hidden="true">
                     <use xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#arrow"></use>
                  </svg>
               </span>
               <div class="field__error field__error-email"></div>
            </div>
            <div data-sly-test="${advocacy.optinText}" class="field checkbox field-required">
                   <input class="field__input js-optin" id="${advocacy.uniqueID}-optin" name="optin" type="checkbox" value="" aria-label="${advocacy.optinText}"/>
                   <label class="field__label checkbox" for="${advocacy.uniqueID}-optin">${advocacy.optinText}</label>
               <div class="field__error"> </div>
            </div>
         </form>
         <p data-sly-test="${advocacy.optinSubText}" class='text-sz-14'>${advocacy.optinSubText}</p>
      </div>
   </div>
</div>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = !properties.subscriptionType, classAppend='cmp-text'}"></sly>
