<div data-sly-use.accordion="com.adobe.cq.wcm.core.components.models.Accordion"
   class="bc-accordion cmp-accordion" 
   data-module="bc-accordion">
            <div data-sly-test="${accordion.items.size > 0}"
               data-sly-repeat.item="${accordion.items}"     
               data-cmp-hook-accordion="item">
               <sly data-sly-test="${wcmmode.edit || wcmmode.preview}">
                   <h3 data-sly-element="${accordion.headingElement @ context='elementName'}"
                      class="bc-accordion__title">
                      <button class="bc-accordion__trigger is-active" data-type="accordion-trigger" aria-expanded="true" aria-controls="section${itemList.index}" 
                         data-cmp-hook-accordion="button" id="homeAccord${itemList.index}">
                         <span class="bc-accordion__title__inner">
                            <span class="bc-accordion__title__inner__icon">
                              <svg class="icon bc-accordion__icon bc-accordion__icon--minus" aria-hidden="true">
                                <use xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#minus"></use>
                              </svg>
                            </span>
                            ${item.title}
                         </span>
                      </button>
                   </h3>
                   <div
                      data-sly-resource="${item.name @ decorationTagName='div',cssClassName='bc-accordion__panel__text'}"
                      data-cmp-hook-accordion="panel"
                      id="section${itemList.index}"
                      aria-labelledby="homeAccord${itemList.index}"
                      class="bc-accordion__panel is-expanded"
                      role="region">
                   </div>
               </sly>
               <sly data-sly-test="${!wcmmode.edit && !wcmmode.preview}">
                    <h3 data-sly-element="${accordion.headingElement @ context='elementName'}"
                      class="bc-accordion__title">
                      <button class="bc-accordion__trigger ${item.name in accordion.expandedItems ? 'is-active' : ''}" data-type="accordion-trigger" aria-expanded="${item.name in accordion.expandedItems ? 'true' : 'false'}" aria-controls="section${itemList.index}" 
                         id="homeAccord${itemList.index}">
                         <span class="bc-accordion__title__inner">
                             <span class="bc-accordion__title__inner__icon">
                              <svg class="icon bc-accordion__icon bc-accordion__icon--plue ${item.name in accordion.expandedItems ? 'hidden' : ''}" aria-hidden="true">
                                <use xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#plus"></use>
                              </svg>
                              <svg class="icon bc-accordion__icon bc-accordion__icon--minus ${item.name in accordion.expandedItems ? '' : 'hidden'}" aria-hidden="true">
                                <use xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#minus"></use>
                              </svg>
                            </span>
                            ${item.title}
                         </span>
                      </button>
                   </h3>
                   <div
                      data-sly-resource="${item.name @ decorationTagName='div',cssClassName='bc-accordion__panel__text'}"
                      id="section${itemList.index}"
                      aria-labelledby="homeAccord${itemList.index}"
                      class="bc-accordion__panel  ${item.name in accordion.expandedItems ? 'is-expanded' : ''}"
                      role="region">
                   </div>
               </sly>
            </div>
            <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
               data-sly-test="${(wcmmode.edit || wcmmode.preview) && accordion.items.size < 1}"></sly>
</div>


