<template data-sly-template.searchSection="${ @ searchPath}">
	
	<template id="bc-search-results--hint__template">
        <div class='bc-searchbar-preview--line' data-url='{{url}}' tabindex="0">{{{title}}}</div>
    </template>
    <div data-sly-use.search="com.nswbc.commons.core.models.search.SearchModel" class="bc-searchbar bc-searchbar-closed" data-module="bc-searchbar" 
         data-search-url="${search.searchRoot}.search.json" 
         data-search-min-char="${search.minChar}" 
         data-search-items-per-page="5"
         data-search-preview-limit="5" 
         data-search-delay-ms="500"
         data-view-all-search-results-url="${searchPath}"  aria-label="Search">
      <div class="bc-searchbar-searchIcon bc-searchbar-searchIcon--back" tabindex="0">
        <svg class="icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#chevron"></use>
        </svg>
      </div>

      <input placeholder="Search"  aria-label="To search the site, type a search term and click enter" />

      <div class="bc-searchbar-searchIcon bc-searchbar-searchIcon--search" tabindex="0" aria-label="To search the site, click enter and then type a search term">
        <svg class="icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#search"></use>
        </svg>
      </div>
      <div class="bc-searchbar-searchIcon bc-searchbar-searchIcon--close" tabindex="0" aria-label="Close Search">
        <svg class="icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#close"></use>
        </svg>
      </div>
      <!-- Search results preview -->
      <div class="bc-searchbar-preview" tabindex="0">
        <div class="bc-searchbar-viewall">
          <span>VIEW ALL SEARCH RESULTS</span>
        </div>
      </div>
    </div>
</template>

