<section data-sly-use.timeline="com.nswbc.commons.core.models.timeline.TimelineModel"
		 class="${wcmmode.edit ? '' : 'bc-timeline'}"
         data-module="${wcmmode.edit ? '' : 'bc-timeline'}"
         data-type="horizontal">
     <div class="bc-timeline__header">
         <h3 class="bc-timeline__title">
             ${timeline.headerText}
         </h3>
     </div>
      <div class="bc-timeline-container">
		<sly 
         data-sly-test="${timeline.items.size > 0}"
         data-sly-list.item="${timeline.items}">
			<h3 data-sly-test="${wcmmode.edit}">${item.title}</h3>
			<div data-sly-unwrap="${!wcmmode.edit}">
            	<sly data-sly-resource="${item.name}"></sly>
            </div>
        </sly>
 	 </div>
</section>
 <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
               data-sly-test="${(wcmmode.edit || wcmmode.preview) && timeline.items.size < 1}"></sly>



