<div class="${!wcmmode.edit?'bc-smart-containers-edit':'bc-smart-containers'}">
<sly data-sly-test.secureContainerClass="${!wcmmode.disabled ? 'bc-secure-container':'bc-secure-container hidden'}"/>
	<sly data-sly-resource="${resource.path @ resourceType='nswbc-commons/components/content/layoutcontainer', appendPath='/secure', decorationTagName='div', cssClassName=secureContainerClass}"></sly>
    <sly data-sly-resource="${resource.path @ resourceType='nswbc-commons/components/content/layoutcontainer', appendPath='/nonsecure', decorationTagName='div', cssClassName='bc-unsecure-container'}"></sly>
</div>