<section data-sly-use.carousel="com.adobe.cq.wcm.core.components.models.Carousel"
         data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
         class="cmp-carousel bc-carousel"
         data-cmp-is="carousel"
         data-module="${!wcmmode.edit ?'bc-carousel':''}">
    <div class="bc-carousel__header">
        <h3 class="bc-carousel__title">${properties.title}</h3>
    </div>
    <div class="cmp-carousel__content bc-carousel-container"
         data-sly-test="${carousel.items && carousel.items.size > 0}">
        <div data-sly-unwrap="${!wcmmode.edit}" data-sly-repeat.item="${carousel.items}"
             data-sly-resource="${item.name @ decorationTagName='div'}"
             role="tabpanel"
             class="${wcmmode.edit ?'col-12':''} cmp-carousel__item${itemList.first ? ' cmp-carousel__item--active' : ''}"
             data-cmp-hook-carousel="item"></div>
    </div>
    <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
         data-sly-test="${(wcmmode.edit || wcmmode.preview) && carousel.items.size < 1}"></sly>
</section>
