<section data-sly-use.dynamicCarousel="com.nswbc.commons.core.models.carousel.DynamicCarouselModel"
         class="dynamic cmp-carousel bc-carousel"
         data-cmp-is="carousel"
         data-module="${!wcmmode.edit ?'bc-carousel':''}">
    <div class="cmp-carousel__content bc-carousel-container"
         data-sly-test="${dynamicCarousel.articlePages && dynamicCarousel.articlePages.size > 0}">
        <div data-sly-unwrap="${!wcmmode.edit}" data-sly-repeat.item="${dynamicCarousel.articlePages}"
             role="tabpanel"
             class="${wcmmode.edit ?'col-12':''} cmp-carousel__item${itemList.first ? ' cmp-carousel__item--active' : ''}"
             data-cmp-hook-carousel="item">
            <div class="bc-carousel-item">
                <div class="bc-carousel-item__media">
                    <a href="${item.link}" target="_self">
                        <img src="${item.fileReference ? item.fileReference : dynamicCarousel.fileReference}"
                             alt="${item.title}" aria-hidden="true">
                    </a>
                </div>
                <div class="bc-carousel-item__content">
                    <h4 data-sly-test="${item.pageCategory}" class="bc-carousel-item__content__title">${item.pageCategory}</h4>
                    <a class="bc-carousel-item__content__description" href="${item.link}" target="_self">
                        ${item.title}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
         data-sly-call="${templates.placeholder @ isEmpty = (!dynamicCarousel.articlePages || dynamicCarousel.articlePages.size < 1), classAppend='cmp-text'}"></sly>
</section>