<section data-sly-test="${properties.eventID}" class="bc-webinar" data-module="bc-webinar">
<div
	data-sly-use.model="com.nswbc.commons.core.models.webinarverify.WebinarVerificationModel"
	class="aem-Grid aem-Grid--12 aem-Grid--default--12"
	data-webinar-eventid="${model.eventID}"
	data-webinar-event-time="${model.eventDate.timeInMillis}"
	data-webinar-isfinished="${model.isEventFinished}"
	data-webinar-redirect-url="${model.webinarPage}"
    data-webinar-title="${model.eventTitle}" >
	
	<div
		class="text bottomSpace24 horizontalPadding60 aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--10 aem-GridColumn--offset--default--1">
		<div class="cmp-text">
			<h4 style="text-align: center;">${model.sectionTitle}</h4>
			<h1 style="text-align: center;">${model.eventTitle}</h1>
		</div>
	</div>

	<div id="screen-1">
		<div class="bc-webinar-timer">
			<div class="bc-webinar-timer-title">${model.earlySubtitle}
			</div>
			<div class="bc-webinar-timer-box">
				<div class="bc-webinar-box event-days">
					<span>Days</span>
				</div>
				<div class="bc-webinar-box event-hours">
					<span>Hours</span>
				</div>
				<div class="bc-webinar-box event-mins">
					<span>Minutes</span>
				</div>
			</div>
			<h5 class="bc-webinar-text">${model.earlyMessage}</h5>
		</div>
	</div>

	<div id="screen-2">
		<div class="bc-webinar-timer">
			<div class="bc-webinar-timer-title">${model.earlySubtitle}
			</div>
			<div class="bc-webinar-timer-box">
				<div class="bc-webinar-box event-days">
					<span>Days</span>
				</div>
				<div class="bc-webinar-box event-hours">
					<span>Hours</span>
				</div>
				<div class="bc-webinar-box event-mins">
					<span>Minutes</span>
				</div>
			</div>
			<h5 class="bc-webinar-text">${model.successMessage}</h5>
		</div>
		<div class="bc-webinar-login-container">
			<div class="g-bg-color-green">
				<div class="bc-webinar-title">${model.heading}</div>
				<p>${model.subheading}</p>
				<div class="field field-required ">
					<label class="field__label" for="email">Email address</label> <input
						class="field__input js-email" id="email" name="email"
						type="text" tabindex="0" value="" aria-label="User ID" required=""
						placeholder="Your email here">
					<div class="field__error field__error-email"></div>
				</div>
				<div class="server-error"></div>
				<div class="client-error"></div>
				<div class="button--wrapper button--center ">
					<button type="submit"
						class="button button--primary button-fullwidth " tabindex="0"
						target="" title="Join the event" aria-label="Join the event">
						${model.buttonLabel}</button>
				</div>
			</div>
		</div>
	</div>

	<div id="screen-3">
		<div class="bc-webinar-timer">
			<div class="bc-webinar-timer-title">${model.lateSubtitle}
			</div>
			<div class="bc-webinar-timer-box bc-webinar-negative">
				<div class="negaive-icon">-</div>
				<div class="bc-webinar-box event-days">
					00<span>Days</span>
				</div>
				<div class="bc-webinar-box event-hours">
					00<span>Hours</span>
				</div>
				<div class="bc-webinar-box event-mins">
					04<span>Minutes</span>
				</div>
			</div>
			<h5 class="bc-webinar-text">${model.lateMessage}</h5>
		</div>
		<div class="bc-webinar-login-container">
			<div class="g-bg-color-green">
				<div data-sly-test="${model.heading}" class="bc-webinar-title">${model.heading}</div>
				${model.subheading @context='html'}
				<div class="field field-required ">
					<label class="field__label" for="email-screen3">Email address</label> <input
						class="field__input js-email-screen3" id="email-screen3"
						name="email-screen3" type="text" tabindex="0" value=""
						aria-label="User ID" required="" placeholder="Your email here">
					<div class="field__error field__error-email-screen3"></div>
				</div>
				<div class="server-error"></div>
				<div class="client-error"></div>
				<div class="button--wrapper button--center ">
					<button type="submit"
						class="button button--primary button-fullwidth " tabindex="0"
						target="" title="Join the event" aria-label="Join the event">
						${model.buttonLabel}</button>
				</div>
			</div>
		</div>
	</div>

	<div id="screen-4">
		<div class="bc-webinar-login-container">
			<div class="g-bg-color-green">
				<div data-sly-test="${model.headingEventFinished}" class="bc-webinar-title">${model.headingEventFinished}</div>
				${model.subheadingEventFinished @context='html'}
			</div>
		</div>
	</div>
</div>
</section>
<sly
	data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
	data-sly-call="${templates.placeholder @ isEmpty = !properties.eventID, classAppend='cmp-text'}"></sly>