<section data-sly-test="${properties.rootPath}" data-sly-use.model="com.nswbc.commons.core.models.modernawardslinkslist.ModernAwardsLinksListModel" class="bcmodernawardslist">
    <div class="bcmodernawardslist-container">
        <div id="alphabet-navigation" class="alphabet-container" data-sly-list="${model.getAwardsList.keySet.iterator}">
            <a class="alphabet-button ${model.getAwardsList[item].size != 0 ?'':'alphabet-button--disabled' }" href="#${item}">${item}</a>
        </div>
        <div class="awards-list">
        <sly data-sly-list="${model.getAwardsList.keySet.iterator}">
			<div data-sly-test.sizeTest="${model.getAwardsList[item].size != 0}" id="${item}" class="award">
                <div class="letter">${item}</div>
            	<a href="#alphabet-navigation" class="alphabet-button back-to-top">Back to Top</a>
            </div>
            <div data-sly-test="${sizeTest}" data-sly-repeat.page="${model.getAwardsList[item]}" class="award" >
            	<a href="${page.pagePath}">${page.pageTitle}</a>
            </div>
        </sly>	
        </div>
    </div>
</section>

<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${templates.placeholder @ isEmpty = !(properties.rootPath), classAppend='cmp-text'}"></sly>
