<div data-sly-use.button="com.nswbc.commons.core.models.button.ButtonModel" 
	data-sly-test="${button.linkModel.linkTo}"
    class="button--wrapper button--${button.linkModel.buttonAlign} ${!wcmmode.edit && button.linkVariant}">
    <a role="button" class="button button--${button.linkModel.linkType} ${button.linkModel.linkLabelColor == 'white' ? 'button--reverse' : ''}"
       tabindex="0"
       title="${button.linkModel.linkLabel}"
       aria-label="${button.linkModel.linkLabel}"
       target="${button.linkModel.linkTarget}"
       href="${button.linkVariant != 'button-normal' ? 'javascript:void(0);' : button.linkModel.linkTo @context='unsafe'}">
        ${button.linkModel.linkLabel}
    </a>
</div>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = !button.linkModel.linkTo, classAppend='cmp-text'}"></sly>