<template data-sly-template.group="${@ items='The navigation items for the current level'}" data-sly-use.itemTemplate="item.html">
    <ul class="bc-nav__${items[0].level}-level" data-sly-list="${items}">
        <sly data-sly-call="${itemTemplate.item @ item=item}"></sly>
    </ul>
</template>
