<sly data-sly-use.model="com.nswbc.commons.core.models.herobanner.HeroBanner">
    <section data-sly-test="${model.variant == 'wofeatures'}" class="bcherobanner">
        <div class="bcherobanner__background">
              <div class="background-image-container">
                  <img class="bg-image" src="${model.desktopimage.fileReference}" alt="${model.desktopimage.imgAltText}">
            		<img class="bg-image-mobile" src="${model.mobileimage.fileReference}" alt="${model.mobileimage.imgAltText}">
        	</div>

            <div class="bcherobanner__${model.alignment}-content">
                <sly data-sly-resource="${resource.path @ resourceType='nswbc-commons/components/content/promohighlight', appendPath='/promohighlight', decorationTagName='div'}"></sly>
            </div>
        </div>
    </section>
    
    
    <section data-sly-test="${model.variant == 'wofeaturesnf'}" class="bcherobanner">
        <div class="bcherobanner-non-full ${model.alignment}-promo">
            <div class="bcherobanner__background">
                <div class="background-image-container">
                  <img class="bg-image" src="${model.desktopimage.fileReference}" alt="${model.desktopimage.imgAltText}">
            		<img class="bg-image-mobile" src="${model.mobileimage.fileReference}" alt="${model.mobileimage.imgAltText}">
        	</div>

            </div>
            <div class="bcherobanner__content">
                     <sly data-sly-resource="${resource.path @ resourceType='nswbc-commons/components/content/promohighlight', appendPath='/promohighlight', decorationTagName='div'}"></sly>
            </div>
        </div>
    </section>
    
    <section data-sly-test="${model.variant == 'wfeatures'}" class="bcherobanner">
        <div class="bcherobanner__background bg-feature">
            <div class="background-image-container">
                  <img class="bg-image" src="${model.desktopimage.fileReference}" alt="${model.desktopimage.imgAltText}">
            		<img class="bg-image-mobile" src="${model.mobileimage.fileReference}" alt="${model.mobileimage.imgAltText}">
        	</div>

            <div class="bcherobanner-with-feature ${model.alignment == 'right' ? 'feature-reverse':''}">
                 <sly data-sly-resource="${resource.path @ resourceType='nswbc-commons/components/content/promohighlight', appendPath='/promohighlight', decorationTagName='div'}"></sly>
                <div class="bcherobanner-block">
                    <sly data-sly-resource="${resource.path @ resourceType='nswbc-commons/components/content/hero-banner/features', appendPath='/features', decorationTagName='div'}"></sly>
                </div>
            </div>
        </div>
    </section>
</sly>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
	data-sly-call="${templates.placeholder @ isEmpty = !model.variant}"></sly>