<div class="bc-searchbar-results">
  <template id="bc-search-results--breadcrumb__template">
    <span class="bc-search-results--breadcrumb"><a x-cq-linkchecker="skip" href="{{url}}">{{title}}</a></span>
  </template>
  <template id="bc-search-results--hint__template">
    <div class='bc-searchbar-preview--line' data-url='{{url}}'>{{{title}}}</div>
  </template>
  <template id="bc-search-results__template">
    {{#each results}}
      <div class="bc-searchbar-results--result">
        <div class="bc-searchbar-results--breadcrumbs">
          {{#each breadcrumbDetails}}
            <span class="bc-searchbar-results--breadcrumb">
              <a x-cq-linkchecker="skip" href="{{url}}">{{title}}</a>
              <div class="bc-searchbar-results--breadcrumb--seperator">
                <svg class="icon" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#chevron"></use>
                </svg>
              </div>
            </span>
          {{/each}}
        </div>
        {{#if isArticlePremium }}
            <img class="bc-searchbar__premium-icon" src="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/img/theme/nswbc/bc-paywall/Premium-Circle-Red.png"/>
        {{/if}}
        <a x-cq-linkchecker="skip" href="{{url}}" data-index="{{@index}}" class="bc-search-results__link">
          <H2 class="bc-searchbar-results--heading">{{{title}}}</H2>
        </a>
        <div class="bc-searchbar-results--description">{{{description}}}</div>
      </div>
    {{/each}}
  </template>
  <template id="bc-searchbar-paginginfo__template">
    Showing <strong>{{start}}-{{finish}}</strong> of {{total}} results
  </template>
  <div class="bc-searchbar-paginginfo">
  </div>
  <div class="bc-searchbar-results--content">
  </div>
  <template id="bc-searchbar-pager__template">
    {{#each pages}}
      <div>
        <a x-cq-linkchecker="skip" href="{{url}}" data-page-number="{{pageNumber}}">{{page}}</a>
      </div>
    {{/each}}
  </template>
  <div class="bc-searchbar-pager">
    <div class="bc-searchbar-pager--prev"><a href="">PREV</a></div>
    <div class="bc-searchbar-pager--pages"></div>
    <div class="bc-searchbar-pager--next"><a href="">NEXT</a></div>
  </div>
</div>