<div data-sly-use.search="com.nswbc.commons.core.models.search.SearchModel" class="bc-search-header" >
  <div class="bc-search-header--content">
    <h1 class="bc-search-header--heading"> ${search.headingText} </h1>
    <sly data-sly-test="${search.searchType!='tag'}">
	<template id="bc-search-results--hint__template">
	  <div class='bc-searchbar-preview--line' data-url='{{url}}' tabindex="0">{{{title}}}</div>
	</template>
    </sly>
    <!-- Search bar -->
        <div class="bc-searchbar" data-module="bc-searchbar" data-search-url="${search.searchRoot}.${search.searchType!= 'tag' ?'search':'tagsearch'}.json" data-search-min-char="${search.minChar}" data-search-items-per-page="${search.resultSize}" data-search-preview-limit="5" data-search-delay-ms="500"
      data-view-all-search-results-url="${search.currentPagePath}"  aria-label="Search">
          <div data-sly-test="${search.searchType=='tag'}" class="bc-header-tag h1"></div>
          <sly data-sly-test="${search.searchType!='tag'}">
      <!-- Search text entry -->
      <div class="bc-searchbar-searchIcon bc-searchbar-searchIcon--back" tabindex="0">
        <svg class="icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#chevron"></use>
        </svg>
      </div>

      <input placeholder="Search"  aria-label="To search the site, type a search term and click enter" />

      <div class="bc-searchbar-searchIcon bc-searchbar-searchIcon--search" tabindex="0" aria-label="To search the site, click enter and then type a search term">
        <svg class="icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#search"></use>
        </svg>
      </div>
      <div class="bc-searchbar-searchIcon bc-searchbar-searchIcon--close" tabindex="0" aria-label="Close Search">
        <svg class="icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#close"></use>
        </svg>
      </div>
      <div class="bc-searchbar-refine">
       <label for="refine">Refine</label>
        <select id="refine">
          <option value="">Select category</option>
          <option data-sly-repeat.categories="${search.searchCategories}" value="${categories.categoryValue}">${categories.categoryTitle}</option>
        </select>
        <div class="bc-searchbar-searchIcon bc-searchbar-searchIcon--refine">
          <svg class="icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#chevron"></use>
          </svg>
        </div>
      </div>
      <!-- Search results preview -->
      <div class="bc-searchbar-preview" tabindex="0">
        <div class="bc-searchbar-viewall">
          <span>VIEW ALL SEARCH RESULTS</span>
        </div>
      </div>
           </sly>
    </div>
    <!-- End Search bar -->

  </div>
</div>

<sly data-sly-include="searchResult.html"/>

