<section data-sly-use.carousel="com.adobe.cq.wcm.core.components.models.Carousel"
         data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
         class="cmp-carousel ${(!wcmmode.edit && carousel.items.size > 0) ? 'bc-hero-carousel':''}"
         data-module="${!wcmmode.edit ?'bc-hero-carousel':''}">

 <div class="bc-hero-carousel__container">   
     <input data-sly-test="${!wcmmode.edit}" data-sly-repeat="${carousel.items}" type="radio" name="slider" class="slide-radio${itemList.count}" id="slider_${itemList.count}"/>

  <!-- Slider Pagination -->
  <div data-sly-test="${carousel.items && carousel.items.size > 0}" class="slider-pagination">
    
      <label data-sly-test="${!wcmmode.edit}" data-sly-repeat="${carousel.items}" for="slider_${itemList.count}" class="page${itemList.count}"  aria-label="click to navigate to slide ${itemList.count}" role="button" tabindex="0"></label>

          <div data-sly-test="${!wcmmode.edit}" class="slider-pagination__control js-slider-control">
      <button aria-label="click to pause slides" class="bc-hero-carousel__control__btn">Pause</button>
    </div>
  </div>
  <div data-sly-unwrap="${!wcmmode.edit}" class="cmp-carousel__content" data-sly-test="${carousel.items && carousel.items.size > 0}" >
                    <div data-sly-repeat.item="${carousel.items}"
                         data-sly-resource="${item.name @ decorationTagName='div'}"
                         role="tabpanel" class="${wcmmode.edit ?'col-12':''} cmp-carousel__item${itemList.first ? ' cmp-carousel__item--active' : ''} slider slide-${itemList.count}"
                         data-cmp-hook-carousel="item"></div>
                </div>
    <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}" data-sly-test="${(wcmmode.edit || wcmmode.preview) && carousel.items.size < 1}"></sly></div>
</section>
