<sly data-sly-test="${properties.html}">
	${properties.html @ context='unsafe'}
</sly>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = !properties.html, classAppend='cmp-text'}"></sly>