<section data-sly-test="${properties.variation}" data-sly-use.model="com.nswbc.commons.core.models.benefits.BenefitsModel" class="bchighlights">
    <div class="${model.variation == 'small' ? 'bchighlights-container':'bchighlights-top-icon'}" style="background-color:${properties.bgColor @ context='styleToken'}">
        <div class="bchighlights-tile-container">
            <div data-sly-repeat="${model.columns}" class="bchighlights-tile ${model.textColor}">
                <img class="icon" src="${item.fileReference}" alt="${item.imgAltText}" />
                <div class="tile-text">
                    <p class="${model.variation == 'large' ?'title':''}">${item.title}</p>
                    <p data-sly-test="${model.variation=='large' && model.subtext!=''}">${item.subtext}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
	data-sly-call="${templates.placeholder @ isEmpty = !properties.variation}"></sly>