<sly data-sly-use.metatag="com.nswbc.commons.core.models.metatags.MetaTagsModel">
    <sly data-sly-test="${metatag.isNoFollow}">
     <meta name="robots" content="nofollow"/>
    </sly>
    <sly data-sly-test="${metatag.isNoIndex}">
     <meta name="robots" content="noindex"/>
    </sly>
	<sly data-sly-list="${metatag.metaTagList}">
    	<sly data-sly-test="${item.type == 'name'}">
	     <meta name="${item.typeValue}" content="${item.contentValue}"/>
        </sly>
        <sly data-sly-test="${item.type == 'property'}">
	     <meta property="${item.typeValue}" content="${item.contentValue}"/>
        </sly>
    </sly>
    <meta data-sly-test="${metatag.metaDataForImage}" property="og:image" content="${request.scheme}://${request.serverName}${metatag.metaDataForImage}"/>
</sly>