<sly data-sly-use.socialshare="com.nswbc.commons.core.models.socialshare.SocialShareModel" data-sly-test="${properties.socialShareItems}">
 <ul class="bc-social-share">
   <sly data-sly-list.socialItem="${socialshare.socialShareItems}">
     <li class="bc-social-share__item">
       <sly data-sly-test="${socialItem != 'mail'}">
        <a href="http://api.addthis.com/oexchange/0.8/forward/${socialItem}/offer?url=${socialshare.currentPageURL}" target="_blank" rel="nofollow" aria-label="Share this article on ${socialItem}">
            <svg class="icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#${socialItem}"></use>
            </svg>
        </a>
       </sly>
       <sly data-sly-test="${socialItem == 'mail'}">
        <a href="mailto:?subject=${socialshare.pageTitle @ context= 'html'}&body=${socialshare.currentPageURL}" target="_blank" rel="nofollow" aria-label="Share this article on mail">
            <svg class="icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#mail"></use>
            </svg>
        </a>
       </sly>
    </li>
    </sly>
 </ul>
</sly>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" 
     data-sly-call="${templates.placeholder @ isEmpty = !properties.socialShareItems, classAppend='cmp-text'}">
</sly>

