<div data-sly-test="${properties.promoSubHeading || properties.richPromoSubHeading}" data-sly-use.promo="com.nswbc.commons.core.models.promo.PromoHighlightModel"
class="bc-promo-highlight ${promo.alignment} ${promo.promoBgColor != '' && properties.promoBgColorRGB == null ? promo.promoBgColor : ''}" style="background-color:${properties.promoBgColorRGB @ context='styleToken'}" data-module="bc-promo-highlight" id="mod-bc-promo-highlight-1">
    <div class="bc-promo-highlight__block">
	<div data-sly-test="${promo.logoReference}" class="bc-promo-highlight__logo-container">
        <img src="${promo.logoReference}" class="bc-promo-highlight__logo" alt="${promo.logoAltText}"/>
  	</div>
        <div class="bc-promo-highlight__header g-color-white">
            <div data-sly-test="${promo.promoHeadingType == 'image'}" class="bc-promo-highlight__img-wrapper">
                <img data-sly-test="${promo.fileReference}" src="${promo.fileReference}" class="bc-promo-highlight__img ${promo.imageType}" alt="Logo">
            </div>
                <h3 data-sly-element="${promo.useh1Tag ? 'h1' : 'h3'}" data-sly-test="${promo.promoHeadingType == 'text'}" class="h1 bc-promo-highlight__title">
                <span class="${promo.promoHeadingFontColor}">
                    ${promo.promoHeading}
                </span>
            </h3>
        </div>
    </div>
    <div class="bc-promo-highlight__content">
        <span data-sly-test="${promo.subHeadingStrong == 'true' && promo.promoSubheadingType == 'ptext'}" class="bc-promo-highlight__content__text ${promo.subHeadingFontColor == 'white' ? 'g-color-white' : ''}">
            ${promo.promoSubHeading}
        </span>
        <span data-sly-test="${promo.subHeadingStrong == 'false' && promo.promoSubheadingType == 'ptext'}" class="text--tertiary ${promo.subHeadingFontColor == 'white' ? 'g-color-white' : ''}">
            ${promo.promoSubHeading}
        </span>
        <div data-sly-test="${promo.promoSubheadingType == 'rtext'}" class="bc-promo-highlight__content__richtext ${promo.subHeadingFontColor == 'white' ? 'g-color-white' : ''}">
			${promo.richPromoSubHeading @context='html'}
        </div>
    </div>
    <sly data-sly-test="${properties.promoSubHeading || promo.bottomRichText}" data-sly-resource="${resource.path @ resourceType='nswbc-commons/components/content/button', appendPath='/button', decorationTagName='div', cssClassName='bc-promo-highlight__control'}"></sly>
     <div data-sly-test="${promo.bottomRichText}" class="bc-promo-highlight__link ${promo.bottomRichTextColor == 'white' ? 'g-color-white' : ''}">
        ${promo.bottomRichText @ context='html'}
     </div>
</div>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = !(properties.promoSubHeading || properties.richPromoSubHeading), classAppend='cmp-text'}"></sly>

