<div data-sly-use.stickyMenu="com.nswbc.commons.core.models.stickymenu.StickyMenuModel"
   class="sticky-menu">
     <sly data-sly-test="${wcmmode.edit}">
		<section 
            data-sly-test="${stickyMenu.items.size > 0}"
            data-sly-repeat.item="${stickyMenu.items}"
            id="${item.title}">
            <div>
            	<div><h4>${item.title}</h4></div>
                <div data-sly-resource="${item.name}"></div>
            </div>
            <sly data-sly-test.itemPath="${'{0}{1}{2}' @ format=[resource.path,'/par/par_', item.name]}" />
             <sly data-sly-resource="${itemPath @ resourceType='nswbc-commons/components/content/layoutcontainer',decorationTagName='div'}"></sly>
             </section>
      </sly>
       <sly data-sly-test="${!wcmmode.edit}">
		<div class="bc-sticky-anchor js-sticky-anchor" data-module="bc-sticky-anchor">
            <div class="bc-sticky-anchor__list js-anchor-list">
				<a data-sly-test="${stickyMenu.items.size > 0}" 
				   data-sly-repeat.item="${stickyMenu.items}" 
                   href="#${item.title}" 
                   class="bc-sticky-anchor__link js-anchor">${item.title}</a>
			</div>
		</div>
		<section 
			id="${item.title}"
            data-sly-test="${stickyMenu.items.size > 0}"
            data-sly-repeat.item="${stickyMenu.items}"
            class="bc-sticky-anchor__destination js-destination">
            <sly data-sly-resource="${item.name}" />   
            <sly data-sly-test.itemPath="${'{0}{1}{2}' @ format=[resource.path,'/par/par_', item.name]}" />
             <sly data-sly-test="${item.isParExist}" data-sly-resource="${itemPath}"></sly>
        </section>
      </sly>
   <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
               data-sly-test="${(wcmmode.edit || wcmmode.preview) && stickyMenu.items.size < 1}"></sly>
</div>


