<sly data-sly-use.panel="com.nswbc.commons.core.models.carousel.CarouselPanel" data-sly-use.templates="core/wcm/components/commons/v1/templates.html">

    <div data-sly-test.category="${properties.category}" class="bc-carousel-item">
        <div class="bc-carousel-item__media">
            <a href="${panel.link.linkTo}" target="${panel.link.linkTarget}">
                <img src="${panel.fileReference}" alt="${panel.imgAltText}" aria-hidden="true">
            </a>
        </div>
        <div class="bc-carousel-item__content">
            <h4 class="bc-carousel-item__content__title">${panel.category}</h4>
            <a class="bc-carousel-item__content__description" href="${panel.link.linkTo}" target="${panel.link.linkTarget}">
                ${panel.title}
            </a>
        </div>
    </div>
    <sly data-sly-call="${templates.placeholder @ isEmpty = !category, classAppend='cmp-text'}"></sly>
</sly>