.articleLayout {
	max-width: 1200px !important;
	float: none !important;
	clear: both !important;
	margin: 0 auto !important;
}

.footer.aem-GridColumn {
	padding: 0;
}

.header.aem-GridColumn {
	padding: 0;
}

.herocarousel.aem-GridColumn {
	padding: 0;
}

.search.aem-GridColumn {
	padding: 0;
}

.in-page-hero.aem-GridColumn {
	padding: 0;
}

.richhero.aem-GridColumn {
	padding: 0;
}

.timeline.aem-GridColumn {
	padding: 0;
}

.html.aem-GridColumn {
	padding: 0;
}

.carousel.aem-GridColumn {
	padding: 0;
}

.membership-advantages.aem-GridColumn {
	padding: 0;
}

.emailsignup-advocacy.aem-GridColumn {
	padding: 0;
}
.benefits.aem-GridColumn {
	padding: 0;
}

.myaccount.aem-GridColumn {
	padding: 0;
}

.horizontalPadding30 {
	padding: 0 30px;
}

.horizontalPadding60 {
	padding: 0 60px;
}

.cmp-container {
	position: relative;
}

.bottomSpace {
	margin-bottom: 48px;
}

.bottomSpace24 {
	margin-bottom: 24px;
}

.topSpace48 {
	padding-top: 48px;
}

.topSpace24 {
	padding-top: 24px;
}

@media ( max-width : 768px) {
	.col-rev-mob .aem-Grid {
		display: flex;
		flex-flow: column-reverse wrap;
	}
}

.paywallicon {
	max-width: 75px !important;
	float: none !important; 
	clear: both !important;
	margin: auto auto 16px auto !important;
}
