<sly data-sly-use.categoryItem="com.nswbc.commons.core.models.category.CategoryItemsModel">
    <article class="bc-article-list__item">
			<a 
			   href="${categoryItem.panelItem.link.linkTo}" 
			   target="${categoryItem.panelItem.link.linkTarget}"
			   aria-label="${categoryItem.panelItem.title}">
			   <div>
            	<img alt="${categoryItem.panelItem.imgAltText}" class="bc-article-list__item-img" src="${categoryItem.panelItem.fileReference}">
               </div>
               <div class="bc-article-list__item-detail">
                  <p class="bc-article-list__item-category">${categoryItem.panelItem.category}</p>
                  <img data-sly-test="${categoryItem.panelItem.isArticlePremium}" class="bc-article-list__premium-icon" src="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/img/theme/nswbc/bc-paywall/Premium-Circle-Red.png"/>
                  <h4 class="bc-article-list__item-title">${categoryItem.panelItem.title}</h4>
               </div>
            </a>
    </article>
</sly>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" 
        data-sly-call="${templates.placeholder @ isEmpty = !categoryItem.panelItem.title, classAppend='cmp-text'}"></sly>
