<sly data-sly-use.timelineSection="com.nswbc.commons.core.models.timeline.TimelineSectionModel" data-sly-test="${timelineSection.sectionList.size > 0}">
    <sly data-sly-list="${timelineSection.sectionList}">
      <div class="carousel-panel">
        <div class="bc-timeline-item">
          <h2>
            ${itemList.first ? item.year : ''}
          </h2>
          <div class="month">${item.month} ${item.year}</div>
          <div class="category text-sz-14">${item.milestoneCategory}</div>
          <div class="description">
              	${item.milestoneDescription}
          </div>
          <div class="status">            
              Status: <b>${item.status}</b>           
          </div>
            <div data-sly-test="${item.linkTarget}" class="read-more text-sz-14">
            <a href="${item.linkTo}" target="${item.linkTarget}" aria-label="Read more">Read more</a>
          </div>
        </div>
      </div>
    </sly>
</sly>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" 
        data-sly-call="${templates.placeholder @ isEmpty = timelineSection.sectionList.size < 1, classAppend='cmp-text'}"></sly>