<sly data-sly-use.breadcrumb="com.nswbc.commons.core.models.breadcrumb.BreadcrumbModel">
<div class="bc-breadcrumb" data-module="bc-breadcrumb" aria-label="Breadcrumb">
        <ol class="bc-breadcrumb__list" data-sly-list.navItem="${breadcrumb.breadcrumbItems}">
          <li class="bc-breadcrumb__item">
              <svg class="icon " aria-hidden="true">
                <use xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#chevron"></use>
              </svg>
              <a class="bc-breadcrumb__link" href="${navItem.url}" data-disabled="${navItem.isLinkRemoved ? 'true':''}" aria-current="${navItem.currentPage ? 'page' : ''}" title="${navItem.title}" aria-label="Navigate to ${navItem.title} page">${navItem.title}</a>
          </li>
        </ol>
       </div>
</sly>