<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js" class="pre"></script>
<script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.0/js/msal.js"></script>
<link href="https://fonts.googleapis.com/css?family=Archivo:400,400i,700|Archivo+Black:400|Taviraj:400&amp;display=swap" rel="stylesheet">
<script>
    var brandName = "${inheritedPageProperties.brandName @context='scriptString'}";
</script>
    <style>
            html, body {
                font-family: "Archivo", Helvetica, Arial, sans-serif;
                font-size: 16px;
                line-height: 1.4;
                color: #0d001f;
                background-color: white;
                background-size: cover;
            }
            @keyframes loader {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
            }
            @-webkit-keyframes loader {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
            }
            .loading {
                margin-top: 124px;
            }
          .loading > div {
            width: 200px;
            height: 158px;
            margin: 0 auto;
            -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
            transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
            }
            .loading > div div {
            left: 92px;
            top: 0;
            position: absolute;
            -webkit-animation: loader linear 1s infinite;
            animation: loader linear 1s infinite;
            background: rgb(10, 221, 160);
            width: 8px;
            height: 16px;
            border-radius: 24%;
            -webkit-transform-origin: 8px 39px;
            transform-origin: 8px 39px;
            }
            .loading > div div:nth-child(1) {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-animation-delay: -0.875s;
            animation-delay: -0.875s;
            }
            .loading > div div:nth-child(2) {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-animation-delay: -0.75s;
            animation-delay: -0.75s;
            }
            .loading > div div:nth-child(3) {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-animation-delay: -0.625s;
            animation-delay: -0.625s;
            }
            .loading > div div:nth-child(4) {
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
            }
            .loading > div div:nth-child(5) {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            -webkit-animation-delay: -0.375s;
            animation-delay: -0.375s;
            }
            .loading > div div:nth-child(6) {
            -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
            -webkit-animation-delay: -0.25s;
            animation-delay: -0.25s;
            }
            .loading > div div:nth-child(7) {
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
            -webkit-animation-delay: -0.125s;
            animation-delay: -0.125s;
            }
            .loading > div div:nth-child(8) {
            -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
            }
            .loading-msg {
            font-size: 24px;
            display: block;
            text-align: center;
            width: 100% !important;
            }
        </style>

