<section data-sly-use.map="com.nswbc.commons.core.models.googlemap.GoogleMapModel" class="BcGoogleMaps" data-sly-test="${map.locations}">
  <div id="BcGoogleMaps" class="bc-google-maps__container" data-module="bc-google-maps" data-apikey="${map.apiKey}">
      <div id="map_wrapper" data-places="${map.locations}">
		<div id="map_canvas">Google Map</div>
	</div>
  </div>
</section>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = !map.locations, classAppend='cmp-text', emptyTextAppend='Please author locations'}"></sly>