<sly data-sly-use.panel="com.nswbc.commons.core.models.carousel.HeroCarouselPanel" data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
    <img data-sly-test="${panel.desktopimage.fileReference}"
		   	src="${panel.desktopimage.fileReference}"
            class="bc-carousel-item__image__desktop js-remove-image-for-mobile"
            alt="${panel.desktopimage.imgAltText}"
          />
          <img data-sly-test="${panel.mobileimage.fileReference}"
            src="${panel.mobileimage.fileReference}"
            class="bc-carousel-item__image__mobile"
            alt="${panel.mobileimage.imgAltText}"
          />
    <div data-sly-test="${panel.desktopimage.fileReference}" class="slider-content">
        <sly data-sly-resource="${resource.path @ resourceType='nswbc-commons/components/content/promohighlight', appendPath='/promohighlight', decorationTagName='div'}"></sly>
    </div>
    <sly data-sly-call="${templates.placeholder @ isEmpty = !panel.desktopimage.fileReference, classAppend='cmp-text'}"></sly>
</sly>