.bc-secure-container {
  -webkit-box-shadow:0 1px 4px rgba(21 203 127 / 63%), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(21 203 127 / 63%), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgb(21 203 127 / 63%), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.bc-unsecure-container {
  -webkit-box-shadow:0 1px 4px rgba(203 21 21 / 63%), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(203 21 21 / 63%), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgb(203 21 21 / 63%), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin-top: 10px;
}