<!--
 Adobe AEM Brightcove Connector

 Copyright (C) 2018 Coresecure Inc.

 Authors:
   Alessandro Bonfatti
   Yan Kisen
   Pablo Kropilnicki

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.

 - Additional permission under GNU GPL version 3 section 7
 If you modify this Program, or any covered work, by linking or combining
 it with httpclient 4.1.3, httpcore 4.1.4, httpmine 4.1.3, jsoup 1.7.2,
 squeakysand-commons and squeakysand-osgi (or a modified version of those
 libraries), containing parts covered by the terms of APACHE LICENSE 2.0
 or MIT License, the licensors of this Program grant you additional
 permission to convey the resulting work.
-->

<sly  data-sly-use.player="${'com.coresecure.brightcove.wrapper.models.VideoPlayer'}">
    <sly data-sly-include="inline-styles.html"/>

    <sly data-sly-test="${!player.ignoreComponentProperties && player.inlineCSS}">
        <style type="text/css">
            ${player.inlineCSS @context='html'}
        </style>
    </sly>
<div class="bc-video">
  <div class="bc-video__content">
    
    <div id="${player.containerID}" class="${properties.playerclass} ${player.containerClass}">
        <div id="component-wrap-${player.componentID}" class="brc-align-${player.align}">
                <sly data-sly-test.showSection="${player.account || player.playerID}">
                    <div data-sly-test="${showSection}" class="${dropTargetPrefix}brightcove_player md-dropzone-video drop-target-player"
                         data-emptytext="Add Player Here">

                        <sly data-sly-test="${player.videoID || player.playlistID}">
                            <div class="player-embed-wrap">
                                <sly data-sly-include="player-embed.html"/>
                            </div>

                        </sly>
                        <sly data-sly-test="${wcmmode.edit}">
                            <div class="${dropTargetPrefix}brightcove_video cq-video-placeholder cq-block-sm-placeholder md-dropzone-video drop-target-video"
                                 data-emptytext="Add Media Here"></div>
                        </sly>
                    </div>
                    <sly data-sly-test="${!showSection}">
                        <sly data-sly-test="${wcmmode.edit}">
                            <div class="${dropTargetPrefix}brightcove_player cq-video-placeholder cq-block-sm-placeholder md-dropzone-video drop-target-player-empty"
                                 data-emptytext="Add Player Here"></div>
                        </sly>
                    </sly>
                </sly>
        </div>
    </div>
  </div>
  <div class="bc-video__caption">
      <span class="bc-video__text">${properties.caption}</span>
  </div>
</div>

    <div data-sly-use.wcmInit="/libs/wcm/foundation/components/page/initwcm.js" data-sly-test="${wcmInit.isTouchAuthoring}" title="Configure component here" class="cq-Overlay cq-Overlay--component cq-droptarget cq-Overlay--placeholder" style="color: rgba(0,0,0,.3);
        border-color: rgba(0,0,0,.3);
        background-color: rgba(255,255,255,.25);
        border-style: solid;
        border-width: 0.125rem;
        margin: -0.125rem;
        height: 50px;
        width: 100%;
        line-height: 2.875rem;
        font-size: 0.875rem;
        text-align: center;
    ">Configure ${player.componentContext.component.title}</div>
</sly>