<div class="paywall-subscription">Subscription</div>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = !false, classAppend='cmp-text'}"></sly>