<sly data-sly-use.inpagehero="com.nswbc.commons.core.models.inpagehero.InPageHero" data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
    <div class="${inpagehero.image.fileReference? 'bc-heroInPage':'' } bc-heroInPage-${inpagehero.alignment} ${inpagehero.bgColor} ${inpagehero.isImageSquare && !wcmmode.edit? ' bc-heroInPage-square ':''}" data-module="bc-heroInPage">

	 <div data-sly-unwrap="${!inpagehero.isImageSquare}" class="bc-heroInPage__grid-container">
            <div class="bc-heroInPage__root">
                <div data-sly-test.image="${inpagehero.image}" class="bc-heroInPage-imageWrapper">
                    <div class="bc-heroInPage-imagePosition">
                        <div class="bc-heroInPage-image" style="background-image:url(${image.fileReference @ context='uri'});"></div>
                    </div>
                </div>
                <div  data-sly-test="${!wcmmode.edit && image.fileReference}" class="bc-heroInPage-textWrapper">
                    <div class="bc-heroInPage-textPosition">
                        <sly data-sly-resource="${resource.path @ resourceType='nswbc-commons/components/content/promohighlight', appendPath='/promohighlight', decorationTagName='div'}"></sly>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <sly data-sly-test="${wcmmode.edit && inpagehero.image.fileReference}" data-sly-resource="${resource.path @ resourceType='nswbc-commons/components/content/promohighlight', appendPath='/promohighlight', decorationTagName='div'}"></sly>
    <sly data-sly-call="${templates.placeholder @ isEmpty = !image.fileReference, classAppend='cmp-text'}"></sly>
</sly>