<sly data-sly-test.dynamic="${properties.carouselType == 'dynamic'}"></sly>

<section data-sly-test="${dynamic}">
    <sly data-sly-include="dynamic.html"/>
</section>

<section data-sly-test="${!dynamic}">
    <sly data-sly-include="default.html"/>
</section>
