<footer data-sly-use.footer="com.nswbc.commons.core.models.footer.FooterModel" class="bc-footer" data-module="bc-footer">
    <div class="bc-footer__container">
        <div class="bc-footer__menu">
            <a class="bc-footer__logo" target="${footer.logo.linkTarget}" aria-label="${footer.logo.imgAltText}" href="${footer.logo.linkTo}">
			<img src="${footer.logo.fileReference @context='uri'}" alt="${footer.logo.imgAltText}">
		</a>
            <div class="bc-footer__col_block_container">
                <div class="bc-footer__col_block">
                    <div data-sly-repeat="${footer.sections}" class="bc-footer__col">
                        <h4 class="bc-footer__list__title">${item.heading}</h4>

                        <ul data-sly-list.link="${item.links}" class="bc-footer__list">
                            <li class="bc-footer__item">
                                <a href="${link.linkTo}" target="${link.linkTarget}" class="bc-footer__item__link">${link.linkLabel}</a>
                            </li>
                            <li class="bc-footer__item" data-sly-test="${linkList.last && wcmmode.edit}"><sly data-sly-resource="${item.path @ resourceType='nswbc-commons/components/content/footer-section'}"></sly></li>
                        </ul>

                        <ul data-sly-test.link="${item.links.size == 0 && wcmmode.edit}" class="bc-footer__list">
                            <li class="bc-footer__item"><sly data-sly-resource="${item.path @ resourceType='nswbc-commons/components/content/footer-section'}" data-sly-test="${wcmmode.edit}"></sly></li>
                        </ul>

                    </div>

                </div>
                <div class="bc-footer__col_block">
                    <sly data-sly-list="${footer.serviceLinks}">
                        <div class="bc-footer__col">
                            <h4 class="bc-footer__list__title bc-footer__list__title--second">
                                <a href="${item.linkTo}" target="${item.linkTarget}" class="bc-footer__item__link" aria-label="Navigate to ${item.linkLabel}">${item.linkLabel}</a>
                            </h4>
                        </div>
                    </sly>
                </div>
            </div>
        </div>
        <div class="bc-footer__bottom">
            <div data-sly-list="${footer.quickLinks}" class="bc-footer__col">
                <a href="${item.linkTo}" target="${item.linkTarget}" class="bc-footer__link">${item.linkLabel}</a>
            </div>
            <div class="bc-footer__col">
                <span class="bc-footer__copyright-text">${footer.copyrightText @ context='html'}</span>
            </div>
            <div class="bc-footer__col">
                <div class="bc-footer__social-wrapper">
                    <div class="bc-footer__social-wrapper__col">
                        <span class="bc-footer__social-label">
                            Follow us on
                        </span>
                    </div>
                    <div data-sly-list="${footer.followUsLinks}" class="bc-footer__social-wrapper__col bc-footer__social-wrapper__col--list">
                        <a class="bc-footer__social-link" href="${item.linkTo}" target="_blank" aria-label="Follow us on ${item.linkLabel} ">
                            <svg class="icon bc-footer__social-icon" aria-hidden="true">
                                <use xlink:href="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/svg/svg.svg#${item.linkLabel}"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
         data-sly-test="${(wcmmode.edit || wcmmode.preview) && footer.sections.size < 1}"></sly>
</footer>
