<div data-sly-use.model="com.nswbc.commons.core.models.herobanner.features.FeaturesModel" class="bcherobanner__highlights">
                    <div class="bcherobanner__highlights-content">
                        <h3 class="${model.fontColor == 'white' ? 'g-color-white' : 'g-color-jet'}">${model.title}</h3>
                        <div class="bcherobanner__highlights-list-container">
                            <div class="bcherobanner__highlights-list ${model.fontColor == 'white' ? 'g-color-white' : 'g-color-jet'}">
                                <ul data-sly-list="${model.featuresOne}">
                                    <li>${item.feature}</li>
                                </ul>
                            </div>
                            <div class="bcherobanner__highlights-list ${model.fontColor == 'white' ? 'g-color-white' : 'g-color-jet'}">
                                <ul data-sly-list="${model.featuresTwo}">
                                    <li>${item.feature}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
	data-sly-call="${templates.placeholder @ isEmpty = !properties.title}"></sly>