<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~ Copyright 2017 Adobe Systems Incorporated
~
~ Licensed under the Apache License, Version 2.0 (the "License");
~ you may not use this file except in compliance with the License.
~ You may obtain a copy of the License at
~
~     http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<template data-sly-template.item="${@ item='The navigation item'}"
          data-sly-use.groupTemplate="group.html"
          data-sly-use.itemContentTemplate="itemContent.html">
    <li class="bc-nav__${item.level}-level-container">
    <div data-sly-test="${item.children.size == 0 && currentStyle.structureDepth != '2' && item.level == 1}" class="bc-nav__1-level-item summary__container text-sz-18">
    <span><a class="bc-nav__1-level-link" href="${item.URL}" title="${item.title}">${item.title}</a></span>                                                    
    </div>

    <sly data-sly-test="${(currentStyle.structureDepth != '2' && item.level == 2) || (currentStyle.structureDepth == '2' && item.level == 1) }" data-sly-call="${itemContentTemplate.itemContent @ item = item}"></sly>

    <details GG="${item.children.size}" data-sly-test="${item.children.size > 0 && ((currentStyle.structureDepth != '2' && item.level < 2) || (currentStyle.structureDepth == '2' && item.level == 0))}" class="${item.level==0 ?'js-tab':''}" data-group-id="${item.level==0 ? '0':''}" open="${item.level!=0 ?'open':null}">
            <summary>
                <sly data-sly-call="${itemContentTemplate.itemContent @ item = item}"></sly>
            </summary>
            <div class="${item.level == 0 ? 'details__inner-container':''}">
                <nav class="${item.level == 0 ? 'bc-nav__container':''}" aria-label="${item.title}">
                    <sly data-sly-test="${item.children.size > 0}" data-sly-call="${groupTemplate.group @ items = item.children}"></sly>
                </nav>
            </div>
        </details>
    </li>
</template>
