<sly data-sly-test="${properties.iframeUrl}" data-sly-use.iframe="com.nswbc.commons.core.models.iframe.IframeModel">
    <iframe data-sly-test="${iframe.allowFullScreen}" src="${iframe.iframeUrl}"
            width="${iframe.widthValue}%" height="${iframe.heightValue}px" frameborder="0" allowfullscreen></iframe>

    <iframe data-sly-test="${!iframe.allowFullScreen}" src="${iframe.iframeUrl}"
            width="${iframe.widthValue}%" height="${iframe.heightValue}px" frameborder="0"></iframe>
</sly>

<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${templates.placeholder @ isEmpty = (!properties.iframeUrl)}"></sly>