<div data-sly-use.header="com.nswbc.commons.core.models.header.HeaderModel" class="bc-header__outer-container js-bc-header ${(header.isHomePage && !wcmmode.edit) ? 'bc-header__outer-container--hero':''}">
<div class="bc-header-topbar">
    <div class="bc-header-topbar__block">
      <span class="bc-header-topbar__text">
        ${header.extraLink @context='html'}
      </span>
    </div>
    <div class="bc-header-topbar__block">
      <ul class="bc-header-topbar__list">
        <li data-sly-repeat="${header.utilityLinks}" class="bc-header-topbar__item">
          <a href="${item.linkTo}" target="${item.linkTarget}" aria-label="${item.altText}">
            ${item.linkLabel}
          </a>
        </li>
		<li class="bc-header-topbar__item join-for-free">
          <a href="${header.registrationLink}" target="_self" aria-label="Navigate to ${header.registrationLabel}">
            ${header.registrationLabel}
          </a>
        </li>
        <li class="bc-header-topbar__item login-block">
            <a href="${header.loginLink}" class="login-nav headerLogin" target="_self" aria-label="Navigate to Login page.">
            ${header.loginLabel}
          </a>
          <a href="javascript:void(0);" aria-label="Navigate to Login page" class="username-header">
            <span class="first-name"></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16">
                <path fill="#0ADDA0" fill-rule="evenodd" d="M9.984 8.478a7.342 7.342 0 0 1 4.5 6.795.723.723 0 0 1-.717.727.723.723 0 0 1-.718-.727c0-3.25-2.6-5.885-5.807-5.885-3.207 0-5.807 2.635-5.807 5.885A.723.723 0 0 1 .718 16 .723.723 0 0 1 0 15.273c0-3.07 1.86-5.7 4.5-6.795a4.708 4.708 0 0 1-1.89-3.784C2.61 2.102 4.684 0 7.242 0c2.559 0 4.633 2.102 4.633 4.694 0 1.553-.744 2.93-1.89 3.784zm-2.742-.544c1.766 0 3.197-1.45 3.197-3.24 0-1.789-1.431-3.24-3.197-3.24-1.765 0-3.197 1.451-3.197 3.24 0 1.79 1.432 3.24 3.197 3.24z"/>
            </svg>

          </a>
          <div class="loggedin-dropdown">
            <div class="login-menu">
                <a href="${header.myAccountLink.linkTo}" aria-label="${header.myAccountLink.linkLabel}">${header.myAccountLink.linkLabel}</a>
            </div>
            <div class="logout">
                <a href="javascript:void(0);" aria-label="Sign out">Sign out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
    <header class="bc-header layout-0" data-module="bc-header" id="mod-bc-header-1">
        <div class="bc-header__logo-container">
			<a class="bc-header__logo-link" href="${header.logo.linkTo}" aria-label="${header.logo.imgAltText}">
		 		<div style="background-image:url(${header.logo.fileReference @ context='uri'});" aria-label="${header.logo.imgAltText}" class="bc-header-logo__first bc-header-logos"></div>
 		    	<div style="background-image:url(${header.fileReference @ context='uri'});" aria-label="${header.logo.imgAltText}" class="bc-header-logo__second bc-header-logos"></div>
        	</a>
        </div>
        <div class="bc-header__menu-icon-container">
            <svg width="20px" height="16px" viewBox="0 0 20 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="bc-header__open-icon">
                <g id="hamburger" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g fill="currentColor" id="Combined-Shape">
                        <path d="M1,0 L19,0 C19.5522847,-1.01453063e-16 20,0.44771525 20,1 C20,1.55228475 19.5522847,2 19,2 L1,2 C0.44771525,2 6.76353751e-17,1.55228475 0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z M1,7 L19,7 C19.5522847,7 20,7.44771525 20,8 C20,8.55228475 19.5522847,9 19,9 L1,9 C0.44771525,9 6.76353751e-17,8.55228475 0,8 C-6.76353751e-17,7.44771525 0.44771525,7 1,7 Z M1,14 L19,14 C19.5522847,14 20,14.4477153 20,15 C20,15.5522847 19.5522847,16 19,16 L1,16 C0.44771525,16 6.76353751e-17,15.5522847 0,15 C-6.76353751e-17,14.4477153 0.44771525,14 1,14 Z"></path>
                    </g>
                </g>
            </svg>
            <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="bc-header__close-icon">
                <g id="icons/close" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M8.99953754,7.58532398 L16.2928007,0.292060852 C16.683325,-0.0984634397 17.3164899,-0.0984634397 17.7070142,0.292060852 C18.0975385,0.682585144 18.0975385,1.31575012 17.7070142,1.70627441 L10.4137511,8.99953754 L17.7033615,16.2891479 C18.0938858,16.6796722 18.0938858,17.3128372 17.7033615,17.7033615 C17.3128372,18.0938858 16.6796722,18.0938858 16.2891479,17.7033615 L8.99953754,10.4137511 L1.7050719,17.7082167 C1.31454761,18.098741 0.681382632,18.098741 0.290858341,17.7082167 C-0.0996659511,17.3176924 -0.0996659511,16.6845275 0.290858341,16.2940032 L7.58532398,8.99953754 L0.292060852,1.70627441 C-0.0984634397,1.31575012 -0.0984634397,0.682585144 0.292060852,0.292060852 C0.682585144,-0.0984634397 1.31575012,-0.0984634397 1.70627441,0.292060852 L8.99953754,7.58532398 Z" id="Combined-Shape-Copy" fill="currentColor"></path>
                </g>
            </svg>
        </div>
        <sly data-sly-resource="${resource.path @ resourceType='nswbc-commons/components/content/navigation', appendPath='/navigation'}"></sly>


<nav class="bc-nav">
<div class="bc-nav-topbar__block">
      <ul class="bc-header-topbar__list">
        <li data-sly-repeat="${header.utilityLinks}" class="bc-header-topbar__item">
          <a href="${item.linkTo}" target="${item.linkTarget}" aria-label="${item.altText}">
            ${item.linkLabel}
          </a>
        </li>
		<li class="bc-header-topbar__item join-for-free">
          <a href="${header.registrationLink}" target="_self" aria-label="Navigate to ${header.registrationLabel}">
            ${header.registrationLabel}
          </a>
        </li>
        <li class="bc-header-topbar__item login-nv-mobile login-nav">
            <a href="${header.loginLink}" class="login-nav headerLogin" target="_self" aria-label="Navigate to Login page.">
            ${header.loginLabel}
          </a>
        </li>
      </ul>
    </div>
    <div class="bc-nav-loggedin-dropdown">
            <div class="login-menu"><a href="${header.myAccountLink.linkTo}" aria-label="${header.myAccountLink.linkLabel}">${header.myAccountLink.linkLabel}</a></div>
            <div class="logout">
                <a href="javascript:void(0);" aria-label="Sign out">Sign out</a>
            </div>
          </div>
</nav>

        <sly data-sly-use.headerSearch="headerSearch.html" data-sly-call="${headerSearch.searchSection @ searchPath=header.searchResultPath}"></sly>
    </header>
</div>