<div data-sly-test="${properties.deactivationUrl}" data-sly-use.model="com.nswbc.commons.core.models.myaccount.MyAccountModel" data-member-resources-url="${model.memberResourceUrl}" data-event-url="${model.eventUrl}" data-paywallsubscriptionpage-url="${model.paywallSubscriptionPageUrl}" data-dect-url="${model.deactivationUrl}" data-modern-list-url="${model.modernListUrl}" id="myaccount-root">
    <div class="loading">
    <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    </div>
</div>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = wcmmode.edit, classAppend='cmp-text'}"></sly>