<div data-sly-use.linksListModel="com.nswbc.commons.core.models.linkslist.LinksListModel"
     data-sly-test="${linksListModel.linksList.size > 0}" class="navigation-menu" data-module="bc-navigation">
    <div class="navigation-menu desktop" data-module="bc-navigation">
        <ul>
            <div data-sly-repeat="${linksListModel.linksList}">
                <li class="${linksListModel.currentPagePath ==  item.linkTo ? 'selected' : ''}">
                    <a href="${item.linkTo}" target="${item.linkTarget}" aria-label="menu${itemList.index}">
                        ${item.linkLabel}
                    </a>
                </li>
            </div>
        </ul>
    </div>
    <nav class="navigation-menu mobile bc-nav">
        <details>
            <summary>
                <div class="bc-nav__1-level-item summary__container text-sz-18">
                    <span>${linksListModel.mobileViewDisplayLabel}</span>
                    <svg width="19px" height="10px" viewBox="0 0 26 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="bc-nav__icon">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path d="M13,11.5857864 L1.70710678,0.292893219 C1.31658249,-0.0976310729 0.683417511,-0.0976310729 0.292893219,0.292893219 C-0.0976310729,0.683417511 -0.0976310729,1.31658249 0.292893219,1.70710678 L12.2928932,13.7071068 C12.6834175,14.0976311 13.3165825,14.0976311 13.7071068,13.7071068 L25.7071068,1.70710678 C26.0976311,1.31658249 26.0976311,0.683417511 25.7071068,0.292893219 C25.3165825,-0.0976310729 24.6834175,-0.0976310729 24.2928932,0.292893219 L13,11.5857864 Z" id="Path" fill="currentColor"></path>
                        </g>
                    </svg>
                </div>
            </summary>
            <div>
                <nav aria-label="${linksListModel.mobileViewDisplayLabel}">
                    <ul>
                        <div data-sly-repeat="${linksListModel.linksList}">
                            <li class="${linksListModel.currentPagePath ==  item.linkTo ? 'selected' : ''}">
                                <a href="${item.linkTo}" target="${item.linkTarget}" class="bc-nav__2-level-anchor text-sz-16">
                                    ${item.linkLabel}
                                </a>
                            </li>
                        </div>
                    </ul>
                </nav>
            </div>
        </details>
    </nav>
</div>

<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = !(linksListModel.linksList.size > 0 ), classAppend='cmp-text'}"></sly>
