<div class="loading">
    <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div data-sly-test="${!pageProperties.preLoginMessage && wcmmode.edit}" class="loading-msg" style="color:red;">
    	Provide the pre login message via the page properties dialog. If not provided then end user would not see any message when they are going to IDAM screen for login via this page.
    </div>
    <div class="loading-msg" id="pre-login" style="${(wcmmode.disabled || wcmmode.preview) ? 'display:none' : 'display:block' @context='styleString'};">${pageProperties.preLoginMessage}</div>
    <div class="loading-msg" id="post-login" style="display:none;">Taking you to the website</div>
</div>