<div id="react-ModernAwards"
     data-sly-use.modernAwardsListModel="com.nswbc.commons.core.models.modernawardslist.ModernAwardsListModel"
     data-awards-list='${modernAwardsListModel.pageList @ context="unsafe"}'
     data-myaccount-url="${modernAwardsListModel.accountPagePath @ context='uri'}">
</div>

<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${templates.placeholder @ isEmpty = !(modernAwardsListModel.accountPagePath), classAppend='cmp-text'}"></sly>

