<sly data-sly-test.dynamic="${properties.categoryType == 'dynamic'}"></sly>

<sly data-sly-test="${dynamic}">
    <sly data-sly-include="dynamic.html"/>
</sly>

<sly data-sly-test="${!dynamic}">
    <sly data-sly-include="default.html"/>
</sly>
