<div class="articleLayout" data-sly-use.category="com.nswbc.commons.core.models.category.CategoryModel">
	<h3>${category.headerText}</h3>
	<div class="${wcmmode.edit ? '':'bc-article-list'}" data-module="bc-article-list" data-show-all="${category.showAllCategories}">
        <sly data-sly-test="${category.items.size > 0}" data-sly-list.item="${category.items}">
          <div data-sly-unwrap="${!wcmmode.edit}">
            <sly data-sly-resource="${item.name}"></sly>
          </div>
        </sly>
    </div>
</div>
 <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
               data-sly-test="${(wcmmode.edit || wcmmode.preview) && category.items.size < 1}"></sly>




