<div class="articleLayout" data-sly-use.dynamicCategory="com.nswbc.commons.core.models.category.DynamicCategoryModel">
    <div class="${wcmmode.edit ? '':'bc-article-list'}" data-module="bc-article-list">
        <sly data-sly-test="${dynamicCategory.articlePages && dynamicCategory.articlePages.size > 0}" data-sly-list.item="${dynamicCategory.articlePages}">
          <article class="bc-article-list__item">
			<a 
			   href="${item.link}" 
			   target="_self"
			   aria-label="${item.title}">
			   <div>
            	<img alt="${item.title}" class="bc-article-list__item-img" src="${item.fileReference ? item.fileReference : dynamicCategory.fileReference}">
               </div>
               <div class="bc-article-list__item-detail">
                  <p class="bc-article-list__item-category">${item.pageCategory}</p>
                  <img data-sly-test="${item.isArticlePremium}" class="bc-article-list__premium-icon" src="/etc.clientlibs/nswbc-${inheritedPageProperties.brandName}/clientlibs/clientlib-${inheritedPageProperties.brandName}/resources/img/theme/nswbc/bc-paywall/Premium-Circle-Red.png"/>
                  <h4 class="bc-article-list__item-title">${item.title}</h4>
               </div>
            </a>
    		</article>
        </sly>
    </div>
    <sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
         data-sly-call="${templates.placeholder @ isEmpty = (!dynamicCategory.articlePages || dynamicCategory.articlePages.size < 1), classAppend='cmp-text'}"></sly>   
</div>



