<div class="bc-tag" data-sly-use.tagsModel="com.nswbc.commons.core.models.tags.DisplayTagsModel" data-sly-test="${tagsModel.displayTags == 'true' && tagsModel.currentPageTagList.size > 0}">
 <ul class="bc-tag__list"> 
   <li class="bg-tag__item" data-sly-repeat="${tagsModel.currentPageTagList}">
       <a href="${tagsModel.tagSearchPage}?tagtitle=${item.title}&tag=${item.tagID}" aria-label="tag ${item.title}">
        ${item.title}
      </a>
   </li>
 </ul>   
</div>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = !(tagsModel.currentPageTagList.size > 0 && tagsModel.displayTags == 'true'), classAppend='cmp-text'}"></sly>
