<!--/*
    Copyright 2017 Adobe Systems Incorporated
  
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
  
        http://www.apache.org/licenses/LICENSE-2.0
  
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<sly data-sly-include="metatags.html"></sly>
<link rel="shortcut icon" href="${inheritedPageProperties.favicon}">
<sly data-sly-use.canonicalPath="com.nswbc.commons.core.models.canonicaltag.CanonicalTag">
  <link rel="canonical" href="${canonicalPath.currentPagePath}"/>
</sly>    
<sly data-sly-test.brandName="${'nswbc-{0}.base' @ format=[inheritedPageProperties.brandName]}" data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories=brandName}"/>
<!-- adding ga header tag on the page -->
<sly data-sly-include="ga-header-tag.html"></sly>
<sly data-sly-include="loginScript.html"></sly>
<!-- injecting cloud service configuration scripts -->
<sly data-sly-include="cloudservice-configurations.jsp"></sly>
<!-- adding dtm-data on the page -->
<sly data-sly-include="dtm-data.html"></sly>
<sly data-sly-test="${wcmmode.preview || wcmmode.edit}" data-sly-call="${clientLib.css @ categories='nswbc-commons.authoring'}"/>

<!-- adding code for webinar page --> 
<sly data-sly-test="${properties.isWebinarPage}">
    <meta name="is-webinar-page" content="true">
	<meta name="data-webinar-redirect-path" content="${properties.webinarVerificationPage}">    
	<meta data-sly-use.webinarPageModel="com.nswbc.commons.core.models.webinarpage.WebinarPageModel" name="data-webinar-redirect-url" content="${webinarPageModel.redirectLink}">
	<sly data-sly-test="${wcmmode.disabled}" data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"data-sly-call="${clientlib.js @ categories='nsw-commons.webinar.page'}"/>
</sly>
<!-- adding piano Endpoint on the page -->
<meta data-sly-use.paywallModel="com.nswbc.commons.core.models.pianopage.PianoPageModel" data-sly-test="${paywallModel.isPremium}" id="piano" data-piano-api="${paywallModel.scriptAPI}"></meta>
