<sly data-sly-use.dtm="com.nswbc.commons.core.models.dtm.GenerateDTMData">
    <script>
    	var dtm_data = ${dtm.data @context = 'unsafe'}
        dtm_data.page.pageInfo.pageURL = window.location.origin + dtm_data.page.pageInfo.pageURL;
        dtm_data.page.pageInfo.previousPageURL = document.referrer;
		var deviceType = "";
		if(window.matchMedia('screen and (max-width: 576px)').matches) {
			deviceType = "mobile";
		} else if (window.matchMedia('screen and (max-width: 768px)').matches) {
			deviceType = "tablet";
		} else {
			deviceType = "desktop";
		}
		dtm_data.page.pageInfo.deviceType = deviceType;

        window.appEventData = window.appEventData || [];
        appEventData.push({
        	"event":"pageData",
        	"page":dtm_data
        });
    </script>
</sly>