<div class="bc-richhero${wcmmode.edit ? '-edit':''}" data-sly-test="${properties.headline}" data-module="bc-richhero${wcmmode.edit?'-edit':''}" id="mod-bc-richhero-1" data-sly-use.hero="com.nswbc.commons.core.models.richhero.RichHero">
    <div class="bc-richhero-content">
        <h1 class="bc-richhero-content--heading">${hero.headline}</h1>
        <div class="bc-richhero-content--text">${hero.subheading}</div>
        <div class="bc-richhero-control">
            <sly data-sly-resource="${resource.path @ resourceType='nswbc-commons/components/content/button', appendPath='/button'}"></sly>
        </div>
    </div>
	<div data-sly-test="${!wcmmode.edit}" class="bc-richhero-overlay ${hero.bgColor}"></div>
	<div data-sly-test="${!wcmmode.edit}" class="bc-richhero-image reveal" style="background-image:url(${hero.image.fileReference @context='uri'})"></div>
	<div data-sly-test="${!wcmmode.edit}" class="bc-richhero-image mobile reveal" style="background-image:url(${hero.mobileImage.fileReference @context='uri'})"></div>
	<div data-sly-test="${!wcmmode.edit}" class="bc-richhero-branding" aria-label="${hero.partofimage.imgAltText}" style="background-image:url(${hero.partofimage.fileReference @context='uri'})"></div>

   <div data-sly-test="${hero.variation == 'video'}" class="video"> 
        <sly data-sly-resource="${resource.path @ resourceType='nswbc-commons/components/content/video', appendPath='/video'}"></sly> </div> 
</div>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = !properties.bgColor, classAppend='cmp-text'}"></sly>